// ==========================================================================
// APP COMPONENT STYLES
// Estilos del componente raiz de la aplicacion
// ==========================================================================

@use '../styles/00-settings/variables' as *;

// --------------------------------------------------------------------------
// HOST
// --------------------------------------------------------------------------
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
