@use '../00-settings/variables' as *;

.ranking {
    display: flex;
    gap: $spacing-4;
    flex-direction: column;
    padding: $spacing-header-footer 0;

    &__header {
        text-align: center;
    }
    
    &__list {
        align-items: center;
        gap: $spacing-3;
    }
}