@use '../00-settings/variables' as *;

.ranking {
    display: flex;
    flex-direction: column;
    padding: $spacing-header-footer 0;
    gap: $spacing-4;

    &__header {
        text-align: center;
    }
    
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: $spacing-2;
    }
}