@use '../00-settings/variables' as *;

.ranking-item {
    display: flex;
    align-items: center;
    gap: $spacing-3;
    background-color: $color-examen-uno;
    font-family: $font-primary;
    width: 100%;
    padding: $spacing-2 $spacing-3;
    border-radius: $radius-lg;

    &__position {
        font-size: $font-size-lg;
        text-align: center;
        color: $color-examen-dos;
    }

    &__info {
        font-size: $font-size-md;
    }

    &__name {
        font-size: $font-size-lg;
    }
}