@if (isOpen) {
  <aside 
    class="login-modal__overlay" 
    (click)="onOverlayClick($event)"
    role="dialog"
    aria-modal="true"
    aria-labelledby="login-modal-title">
    <article 
      #modalContainer
      class="login-modal"
      (click)="onModalClick($event)">
      <header class="login-modal__header">
        <h2 id="login-modal-title" class="login-modal__title">Inicio de sesión</h2>
        <button 
          #closeButton
          class="login-modal__close" 
          (click)="closeModal()"
          (keydown)="onCloseKeyDown($event)"
          aria-label="Cerrar modal"
          type="button">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
        </button>
      </header>

      <form class="login-modal__form" (ngSubmit)="onSubmit($event)">
        <fieldset class="login-modal__fieldset">
          <legend class="login-modal__legend">Credenciales de acceso</legend>

          <app-form-input
            #usernameInput
            label="Nombre de usuario"
            type="text"
            name="username"
            placeholder=""
            [required]="true"
            [errorMessage]="usernameError"
            [value]="username"
            (valueChange)="username = $event"
            (inputBlur)="onUsernameBlur()">
          </app-form-input>

          <app-form-input
            label="Contraseña"
            type="password"
            name="password"
            placeholder=""
            [required]="true"
            [errorMessage]="passwordError"
            [value]="password"
            (valueChange)="password = $event"
            (inputBlur)="onPasswordBlur()">
          </app-form-input>
        </fieldset>

        <footer class="login-modal__actions">
          <button 
            type="submit" 
            class="login-modal__submit" 
            [disabled]="!isFormValid"
            [attr.aria-disabled]="!isFormValid">
            Iniciar
          </button>
          
          <p class="login-modal__switch">
            ¿No tienes cuenta? 
            <button 
              type="button" 
              class="login-modal__switch-link"
              (click)="goToRegister()">
              Regístrate
            </button>
          </p>
        </footer>
      </form>
    </article>
  </aside>
}
